@{
    ViewData["Title"] = "Home Page";
}

<h3>Transient Service:</h3>
<div>@ViewBag.message1</div>
<div>@ViewBag.message2</div>
<br />
<h3>Scoped Service:</h3>
<div>@ViewBag.message3</div>
<div>@ViewBag.message4</div>
<br />
<h3>Singleton Service:</h3>
<div>@ViewBag.message5</div>
<div>@ViewBag.message6</div>
